<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="CodeFormat" value="Install-Package dotnet-format"/>
		<add key="Version" value="1"/>
	</appSettings>

	<connectionStrings>
		<add providerName="System.Data.SqlClient" connectionString="Server=.;DataBase=DVLD1;User ID=sa;Password=sa123456;Trust Server Certificate=true;" name="DVLD1_CN"/>
	</connectionStrings>




</configuration>